
            input{
                width:90%;
                height:87%;
                font-size:1.5vw;
            }
            input.radio{
                width:70%;
                height:60%;
            }
            input:hover,button:hover{
                cursor: pointer;
            }
            .header{
                padding-top:5%;
                padding-left:5%;
                height:10%;
                font-size:4vw;
            }
            .container{
                display:flex;
                font-size:2vw;
                padding-top:3%;
                padding-bottom:1%;
            }
            .left{
                flex-basis:15%;
                padding-left:5%;
                padding-top:0.4%;
            }
            .center{
                flex-basis:40%;        
            }
            .right1{
                flex-basis:22.5%;
                padding-right:2%;
            }
            .right2{
                flex-basis:22.5%;
                padding-right:2%;
            }
            button{
                width:20%;
                height:100%;
            }
            .right{
                flex-basis:42.3%;
                padding-left:6.7%;
            }
            #error{
                color:red;
                font-size:1.6vw;
                padding-top:0.6%;
            }